

.blur{
    backdrop-filter: blur(10px);
}
.oscuro{
    background-color: rgba(0, 0, 0, 0.7);
}

.margen {
    margin: 5px;
}

.transp {
    background-color: transparent;
}

.txt-medio{
    font-size: 100px;
}